<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your account</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="../assets/favicon.png">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app" class="container-fluid" v-cloak>
        <header class="header d-flex align-items-center justify-content-between p-1">
            <a href="accounts.html"><img src="../assets/logo.png" alt="logo" class="logo"></a>
            <h2 class="h2Header ">BanK Mindhub</h2>
            <div class="btn-group d-flex align-items-center" >
                <button class="btn btn-sm dropdown-toggle text-white tamanioLetra" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
                    <span v-cloak class="">{{clientActive.firstName}} {{clientActive.lastName}} </span>
                </button>
                <ul class="dropdown-menu ">
                    <li><a class="dropdown-item" href="#" v-on:click="cerrar">Sign off</a></li>
                </ul>
                <img src="../assets/iconoAvatar.jpg" alt="" class="imgCirculo logo">
            </div>
        </header>
        <nav class="navbar navbar-expand-md navbar-light bg-segundary iconos d-flex">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="collapse navbar-collapse d-flex justify-content-md-around">
                        <li>
                            <a href="accounts.html">
                                <div class="icono">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-currency-dollar" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2" />
                                        <path d="M12 3v3m0 12v3" />
                                    </svg>
                                </div>
                                <div class="texto">
                                    Accounts
                                    <span>Accounts</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="transfer.html">
                                <div class="icono">
                                    <i class="bi bi-calculator"></i>
                                </div>
                                <div class="texto">
                                    Transfer
                                    <span>Make a transfer now</span>
                                </div>   
                            </a>
                        </li>
                        <li>
                            <a href="cards.html">
                                <div class="icono">
                                   <i class="bi bi-credit-card"></i>
                                </div>
                                <div class="texto">
                                    Cards
                                    <span>Request it now</span>
                                </div>   
                            </a>
                        </li>   
                        <li :class="[clientLoans.length >= 3  ? 'noneBotonAccounts' : '' ]">
                            <a href="loan-application.html">
                                <div class="icono">
                                <i class="bi bi-currency-exchange"></i> 
                                </div>
                                <div class="texto">
                                    Apply Loan
                                    <span>Request it now</span>
                                </div>   
                            </a>
                        </li>
                        <li>
                            <a href="#" v-on:click="enConstruccion">
                                <div class="icono">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <rect x="3" y="5" width="18" height="14" rx="2" />
                                        <polyline points="3 7 12 13 21 7" />
                                    </svg>
                                </div>
                                <div class="texto">
                                    Contact
                                    <span>Write us here</span>
                                </div>
                            </a>
                        </li>
                    </ul> 
                </div>
            </div>
        </nav>
        <h4 class="h4Saludo text-center m-3">Hello, <span class="spanClient">{{clientActive.firstName}} {{clientActive.lastName}}!!</span></h4> 
        <main class="row d-flex justify-content-between m-0 p-1">
           <section lass="row d-flex justify-content-around flex-wrap p-3 m-sm-5">
                <div class="col col-12 col-lg-6 bg-white container-fluid justify-content-end Regular shadow p-4">
                    <h3>Savings Bank in  $ N° {{ClientAccounts.number}}</h3>
                    <p>Available Balance  <span class="h4">$ {{ClientAccounts.balance}}</span></p>
                    <p class="h5">Cbu ***************8934</p> 
                </div>
           </section> 
           <section class=" container col-lg-10">
                <table  class="table">
                    <h3 class="text-center p-3">Accounts N° {{ClientAccounts.number}} Transactions</h3> 
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th class="d-sm-none ">Desc</th>
                            <th class="d-none d-sm-block">Description</th>
                            <th>Type</th>
                            <th>Importe</th> 
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody class="tamALetra" v-if="transactions.length > 0">
                        <tr v-for="account in transactions">
                            <td scope="col">{{account.date}}</td>
                            <td scope="col">{{account.description}}</td>
                            <td scope="col" :class="[account.type == 'CREDIT' ? 'text-success' : 'text-danger']">{{account.type}}</td>
                            <td scope="col" :class="[account.type == 'CREDIT' ? 'text-success' : 'text-danger']">&#36;{{account.amount}}</td>
                            <td scope="col" class="text-primary fw-bold">&#36;{{account.balance}}</td>
                        </tr> 
                    </tbody>
                    <tbody v-else> 
                        <tr>
                            <td scope="col" colspan="5" class="text-center text-danger"><h3>No transactions</h3></td>
                        </tr> 
                    </tbody>
                </table>
            </section>
            <div class="container text-center p-2 mt-lg-3">
                <button type="button" class="btn btn-primary ">
                    <a href="accounts.html" class="text-white text-decoration-none">Back Accounts<a>
                </button>
            </div>
        </main>
    </div><!--div app-->
    <footer class="mt-lg-5">
        <h3 class="h3Footer p-3">&copy; 2021 BanK Mindhub | All Rights Reserved</h3>  
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./scripts/account.js"></script>
</body>
</html>