*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg,#005baa 0,#005baa 0,#005baa 0,#00aeef 100%);
}

h4 {
    position: relative;
    font-size: 3em;
    font-weight: 900;
    color: #fff;
    z-index: 1;
    overflow: hidden;
}

h4:before {
    content: '';
    position: absolute;
    left: -20%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #005baa 5%, #00aeef 100%);
    animation: animate 3.5s linear forwards;
}

@keyframes animate {
    0% {
        left: -20%;

    }
    100% {
        left: 100%;
    }
}

h4 span {
    color: #ff022c;
}